{% extends 'base.html' %}

{% block title %}
    Download queue for {{ source_name }}
{% endblock %}




{% block jquerysetup %}

{% endblock %}




{% block content %}
    <div id="span-15">
    {% if queued_items_by_day %}
    
        <h3>Here are the <strong>{{ source_name }}</strong> items set to be downloaded around midnight.</h3>

        {% if errors %}
            <br/>

            <div class="error">
            <h3 >Hold on. There is a problem with the queue management. We need to fix this!</h3>
            </div>
            <h4>Here are the collected stacktraces:</h4>

            <div>
                {% for day, logged_stacktraces in errors.items %}
                    <h3>{{ day }}</h3>

                    <div style="height: 300px; overflow-y: scroll; border: 1px solid;
                                               border-radius: 2px;  border-color: #ccc;
                                               padding: 16px">

                   {% for batch_hour, stacktrace in  logged_stacktraces.items %}
                   <div class="box">
                       {{ batch_hour }}:<br>

                       <code>
                          {{ stacktrace|linebreaksbr }}
                       </code>

                   </div>
                   {% endfor %}


                   </div>

                {% endfor %}


            </div>


        {% endif %}

        <br/><br/><br/>

        <H4>And this is the rest of the queue:</H4>

        <div >
            {% for day, batches in queued_items_by_day %}
            
               <h3>{{ day }}</h3>

                <div style="height: 300px; overflow-y: scroll; border: 1px solid;
                            border-radius: 2px;  border-color: #ccc;
                            padding: 16px">
                    {% if batches %}
                        {% for batch_hour, items in  batches %}
                        <div class="box">
                            {{ batch_hour }}: <strong>{{ items.articles|length }}</strong> article{{ items.articles|pluralize}} queued
                            <ul>
                            {% for title, url in items.articles %}
                                <li><a href="{{ url }}">{{ title }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="box">
                            This day has no batch enqueued. Something went wrong in the queue management system.
                        </div>
                    {% endif %}

                </div>
                <br/><br/><br/>
            {% endfor %}
        </div>
    {% else %}
        <h3>There are no items in the queue.</h3>
    {% endif %}
    </div>

{% endblock %}