{% extends 'base.html' %}

{% block title %} Cite your sources.  {% endblock %}


{% block content %}
   <br/>
   <h3>These are all your content providers. </h3>
   <br/>    <br/>
    {{ sources }}

    {% for source_name, data in sources_data.items %}
        {% with source_stats=data.0  queued_items_count=data.1 %}

        <div class="box" style="text-align:center;">
            <h1><strong>{{ source_name }}</strong></h1>

             {% with total_links=source_stats.link_count %}
                This source already provided <strong>{{ total_links }}</strong> link{{ total_links|pluralize }}
             {% endwith  %}
                from
             {% with total_articles=source_stats.article_count%}
                <strong>{{ total_articles }}</strong> article{{  total_articles|pluralize }}.
             {% endwith %}

            <br/>
            {% with total_errors=source_stats.error_count %}
                {% if total_errors %}


                <span class="quiet"> It also generated
                <strong>{{ total_errors }}</strong> error{{  total_errors|pluralize }}.
                </span>
                {% else %}
                    <span class="quiet">
                        And no error occurred here.
                    </span>
                {% endif %}
             {% endwith %}

            <br/><br/>
            You can <a href="/source/{{ source_name }}"> browse</a> them, <br/><br/>

            Have a look at the <strong>{{ queued_items_count }}</strong> item{{queued_items_count|pluralize  }}
            in the <a href="/source/{{ source_name }}/queue">download queue</a>,<br/><br/>

            Or even look at
            <a href='/source/{{source_name  }}/graphs'>pretty graphs</a> about them.
        </div>
        {% endwith %}

    {% endfor %}
{% endblock %}