{% extends 'base.html' %}

{% block title %} Cite your sources.  {% endblock %}


{% block content %}
   <br/>
   <h3>These are all your content providers. </h3>
   <br/>    <br/>

    {% for source_name, source_stats in sources.items %}

        <div class="box" style="text-align:center;">
            <h1><strong>{{ source_name }}</strong></h1>

             {% with total_links=source_stats.n_links %}
                This source already provided <strong>{{ total_links }}</strong> link{{ total_links|pluralize }}
             {% endwith  %}
                from
             {% with total_articles=source_stats.n_articles%}
                <strong>{{ total_articles }}</strong> article{{  total_articles|pluralize }}.
             {% endwith %}

            <br/>
            {% with total_errors=source_stats.n_errors %}
                {% if total_errors %}


                <span class="quiet"> It also generated
                <strong>{{ total_errors }}</strong> error{{  total_errors|pluralize }}.
                </span>
                {% else %}
                    <span class="quiet">
                        And no error occurred here.
                    </span>
                {% endif %}
             {% endwith %}

            <br/><br/>
            You can <a href="/source/{{ source_name }}"> browse</a> them,. <br/><br/>
            Or even look at
            <a href='/source/{{source_name  }}/graphs'>pretty graphs</a> about them.
        

        </div>

    {% endfor %}
{% endblock %}