{% extends 'base.html' %}



{% block title %}
    All the errors in line, please
{% endblock %}


{% block content %}

    <h1><strong>{{ source_name }}</strong></h1>

    {% if errors %}
        <h3> These are the errors that occurred while retrieving this batch of <a href="{{ batch_url }}/articles">articles</a>.</h3>

        {% for error in errors %}
            <div class="box">
                There was something wrong while processing the following URL: <a href="{{ error.url }}">{{ error.url }}</a>

                <br/><br/><br/>
                Here is the stacktrace:
                <br/>
                <div class="error_stacktrace">
                {{ error.stacktrace }}
                
                </div>
                <br/>
            </div>

        {% endfor %}
    {% else %}
        <h3>No error occurred while retrieving this batch of <a href="{{ batch_url }}/articles">articles</a>.</h3>
    {% endif %}
{% endblock %}