{% extends 'base.html' %}

{% block title %}

{% endblock %}


{% block content %}

    <h1><strong>{{ source_name }}</strong></h1>

    <h3>Here are a bunch of <a href='/source/{{ source_name }}/graphs'>scientific graphs</a> about this content provider.</h3>

    <h3>And below are all the dates for which we stored articles.</h3>
    <div class="box">
        <ul>
        {% for day, article_count, error_count in all_days %}
            {% if error_count  %}
                <li> <a href='/source/{{ source_name }}/{{ day}}'>{{day}}:</a>
                {{ article_count }} article{{ article_count|pluralize }} and <b>{{ error_count }}</b> error{{ error_count|pluralize }}
                </li>

            {% else %}
                <li> <a href='/source/{{ source_name }}/{{ day}}'>{{day}}: </a>
                    {{ article_count }} article{{ article_count|pluralize }}
                </li>



            {% endif %}
        {% endfor %}
        </ul>
    </div>

{% endblock %}