{% extends "base.html" %}

{% block title %} Summary {% endblock %}

{% block content %}
    <br/>
    <h3>This page is a summary of the articles downloaded last time we checked all the sources.</h3>
    <br/>    <br/>
    {% for provider, articles in all_articles.items %}
        <h1><b><a href='/source/{{ provider }}'>{{ provider }}</a></b></h1>
        {% if articles %}
            {% for article in articles %}
            <div class='box'>
                <span class="quiet">{{ article.pub_date|date:"l d F Y" }}</span>
                <br/>
                <h3><b>{{ article.title }} </b></h3>
                <a href='{{ article.url }}'>Source</a>
                <br/><br/>

                {% with num_links=article.internal_links|length %}
                This story has <b>{{ num_links }}</b> internal link{{ num_links|pluralize }}
                {% endwith %}

                {% with num_links=article.external_links|length %}
                and <b>{{ num_links }}</b> external link{{ num_links|pluralize }}.
                {% endwith %}
                <br/>

                And it starts like this:
                <blockquote>{{ article.intro }}</blockquote>

            </div>

            {% endfor  %}
        {% else %}
            <div class="box">
                <div style="text-align: center;">
                    <h2>No new articles were found</h2>
                    Maybe you should have a look at the <a href="/source/{{ provider }}">archives</a>
                </div>
            </div>
        {% endif %}
    <br/><br/>
    {% endfor %}

{% endblock %}

