{% extends "base.html" %}

{% block title %} Summary {% endblock %}

{% block content %}
    <br/>
    <h3>This page is a summary of the articles downloaded last time we checked all the sources.</h3>
    <br/>    <br/>
    {% for name, date, metainfo, url in summary_per_source%}
        <h1><strong><a href='/source/{{ name}}'>{{ name }}</a></strong></h1>
        <div class="box" style="text-align:center;">

            <strong>{{ metainfo.article_count}}</strong> article{{  metainfo.article_count|pluralize }}
            were downloaded last night. It fetched articles for <a href="{{ url }}">{{ date|date:'F d, Y' }}</a>.
            <br/>



            <br/>
            {% if metainfo.total_error_count %}
                <span> It also generated
                <strong>{{ metainfo.total_error_count }}</strong> error{{  metainfo.total_error_count|pluralize }}.
                </span>
            {% else %}
                <span class="quiet">
                    And no error occurred.
                </span>
            {% endif %}
    </div>


    <br/><br/>
    {% endfor %}

{% endblock %}

