<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>


    <link type="text/css" rel="stylesheet" href="/static/stylesheets/blueprint-restyled/screen.css"  media="screen, projection"/>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/blueprint-restyled/plugins/buttons/screen.css" media="screen, projection"/>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/blueprint-restyled/print.css"  media="print"/>

    <link rel="icon"
      type="image/png"
      href="/static/icons/collaboration.png" />

    <link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>

   {% block jquerysetup %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <!--Site logo & stuff-->
        <div class="span-24 last">
            <div id="banner">
                <strong><a href="/"> <span style="font-variant: small-caps;">CSxJ Database Viewer&trade;</span></a></strong>
            </div>
            <hr/>
        </div>

        <!-- dynamic content -->
        <div class="span-15 colborder">
            {% block content %}{% endblock %}
        </div>

        <!-- sidebar  -->
        <div class="span-8 last">
            <!-- About -->
            <h3><strong>Status</strong></h3>
            <div class="box">
                <p>During the last update,
                    <strong>{{ last_update.article_count }}</strong> article{{ last_update.article_count|pluralize }}
                    from <strong>{{ last_update.provider_count }}</strong> source{{ last_update.provider_count|pluralize }} were fetched.
                    <br/><br/>
                    {% if last_update.total_error_count %}
                        <strong>{{ last_update.total_error_count}}</strong> error{{ last_update.total_error_count|pluralize }} occurred. And that is terrible.
                    {% else %}
                        No error occurred.
                    {% endif%}
                </p>

                <p>
                    Overall, there are <strong>{{ queue.item_count }}</strong> item{{ queued.items_count|pluralize }}
                    in the <strong>{{ queue.provider_count }}</strong> download queue{{ queue.provider_count|pluralize }}.
                </p>
            </div>

            <h3><strong>Overall statistics</strong></h3>
            <div class='box'>
                Your database contains articles gathered from <strong>{{ start_date|date:"F d, Y" }}</strong> to <strong>{{ end_date|date:"F d, Y" }}</strong>.
                <br/><br/>


                During this period, <strong>{{ article_count|add:reprocessed_article_count}}</strong> articles from
                <strong>{{ num_providers }}</strong> sources were fetched.
                <br/>
                Combined, these articles point to <strong>{{ link_count|add:reprocessed_link_count}}</strong>
                other places on the internet.
                <br/>

                Go <a href="/source">here</a> to have a look at the breakdown, and start browsing the database.
                <br/><br/>



                {% if total_error_count %}
                    Overall, <strong>{{total_error_count }}</strong> error{{ total_error_count|pluralize }}
                    have occurred.
                    <br/>

                    {% if reprocessed_article_count %}
                        <strong>{{ reprocessed_article_count }}</strong> error{{ reprocessed_article_count|pluralize }}
                        have already been successfully reprocessed.
                    {% endif %}

                    {% if pending_error_count %}
                        There are still <strong>{{ pending_error_count }}</strong> error{{ pending_error_count|pluralize }}
                        longing for some attention.
                    {% else %}
                        There are no pending errors.
                    {% endif %}

                {% else %}
                    No error occurred. This is pretty nice.
                {% endif%}


            </div>



            {% block optional_box %}{% endblock %}
        </div>


        <!--footer-->
        <div class="span-24 last">
            <div style="text-align: center;">
                <br/>
                <hr/>
                <p>
                    CSS is a technology from hell, hence I let
                    <a href="http://www.blueprintcss.org/">other people</a> do the work for me. Then I pick the colors.
                    <br/>
                    Powered by the <a href="http://www.djangoproject.com/">Web Framework</a> for perfectionists with deadlines.
                    <br/>
                    <strong>{{ version }}</strong>. Kindly hosted on <span style="text-decoration: line-through;">tarte</span>tartiflette.
                    <br/>
                    Using <a href="http://bitbucket.org/sevas/csxj-crawler">csxj</a> <strong>{{ csxj_version }}</strong> as backend.
                </p>
            </div>
        </div>
    </div>
</body>
</html>