<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/blueprint/screen.css"  media="screen, projection"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/blueprint/plugins/buttons/screen.css" media="screen, projection"/>
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
    <!--Site logo & stuff-->
    <div class="span-24 last">
        <div id="banner">
            <strong><a href="/"> Links. Vast amounts of them.</a></strong>
        </div>
        <hr/>
    </div>

    <!-- dynamic content -->
    <div class="span-15 colborder">
        {% block content %}{% endblock %}
    </div>


</body>
</html>