<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>


    <link type="text/css" rel="stylesheet" href="/static/stylesheets/blueprint-restyled/screen.css"  media="screen, projection"/>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/blueprint-restyled/plugins/buttons/screen.css" media="screen, projection"/>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/blueprint-restyled/print.css"  media="print"/>

    <link rel="icon"
      type="image/png"
      href="/static/icons/collaboration.png" />

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <!--Site logo & stuff-->
        <div class="span-24 last">
            <div id="banner">
                <strong><a href="/"> <span style="font-variant: small-caps;">Links. Vast amounts of them.</span></a></strong>
            </div>
            <hr/>
        </div>

        <!-- dynamic content -->
        <div class="span-15 colborder">
            {% block content %}{% endblock %}
        </div>

        <!-- sidebar  -->
        <div class="span-8 last">
            <!-- About -->
            <h3><strong>Status</strong></h3>
            <div class="box">
                <p>Last update was made on <strong>{{ update_date  }}</strong> at <strong>{{ update_time }}</strong>
                   <br/>
                    <strong>{{ num_articles }}</strong> article{{ num_articles|pluralize }}
                    from <strong>{{ num_providers }}</strong> source{{ num_providers|pluralize }} were fetched.
                    <br/><br/>
                    {% if num_errors %}
                        {{ num_errors }} error{{ num_errors|pluralize }} occurred. And that is terrible.
                    {% else %}
                        No error occurred.
                    {% endif%}
                </p>
            </div>

            <h3><strong>Overall statistics</strong></h3>
            <div class='box'>
                Your database contains articles gathered from <strong>{{ start_date|date:"F d, Y" }}</strong> to <strong>{{ end_date|date:"F d, Y" }}</strong>.
                <br/><br/>
                During this period, <strong>{{ total_articles }}</strong> articles from <strong>{{ num_providers }}</strong> sources were fetched,
                <span style="text-decoration: line-through;">carefully</span> analysed and safely stored for your convenience.
                <br/><br/>
                Combined, these articles point to <strong>{{ total_links }}</strong> other places on the internet.
                <br/><br/>
                Click <a href="/source">here</a> to have a look at the breakdown, and start browsing the database.
               <br/><br/>
                {% if total_errors %}
                    <strong>{{ total_errors }}</strong> error{{ total_errors|pluralize }} occurred. We'll need to look into that.
                {% else %}
                    No error occurred. This is pretty nice.
                {% endif%}


            </div>



            {% block optional_box %}{% endblock %}
        </div>


        <!--footer-->
        <div class="span-24 last">
            <div style="text-align: center;">
                <br/>
                <hr/>
                <p>
                    CSS is a technology from hell, hence I let
                    <a href="http://www.blueprintcss.org/">other people</a> do the work for me. Then I pick the colors.
                    <br/>
                    Powered by the <a href="http://www.djangoproject.com/">Web Framework</a> for perfectionists with deadlines.
                    <br/>
                    <strong>{{ version }}</strong>. Kindly hosted on <span style="text-decoration: line-through;">tarte</span>tartiflette.
                </p>
            </div>
        </div>
    </div>
</body>
</html>